<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>辅助管理</title>
    <!--    学生电器登记表    -->
    <link href="../static/css/base.css" type="text/css" rel="stylesheet" />
    <link href="../static/css/mainBody.css" type="text/css" rel="stylesheet" />
</head>
<body>
<!--  头部  -->
<header>
    <!--    顶部      -->
    <div class="top">
        <a href="#"><img src="#" alt=""/></a>
    </div>
    <!--    顶部导航栏   -->
    <div class="navitems container">
        <ul>
            <li>
                <a href="/">主页</a>
            </li>
            <li class="space"></li>
            <li>
                <a href="/zone/all">宿舍信息</a>
            </li>
            <li class="space"></li>
            <li>
                <a href="/student/all">用户管理</a>
            </li>
            <li class="space"></li>
            <li>
                <a href="changeDorm.html">学生转宿</a>
            </li>
            <li class="space"></li>
            <li>
                <a href="studentPay.html">学生缴费</a>
            </li>
            <li class="space"></li>
            <li>
                <a href="rent.html">宿舍出租</a>
            </li>
            <li class="space"></li>
            <li>
                <a href="/visitor/all">辅助管理</a>
            </li>
            <li class="space"></li>
            <li>
                <a href="/login">登录</a>
            </li>
        </ul>
    </div>
</header>
<div class="main">
    <ul>
        <li class="slidebar">
            <div>
                <ul>
                    <li>
                        <a href="visitor.html">访客记录<span> > </span></a>
                    </li>
                    <li>
                        <a href="discipline.html">学生违纪记录<span> > </span></a>
                    </li>
                    <li>
                        <a href="baggage.html">大件物品记录<span> > </span></a>
                    </li>
                    <li>
                        <a href="electricApplication.html">学生电器登记表<span> > </span></a>
                    </li>
                    <li>
                        <a href="stay.html">学生留宿记录<span> > </span></a>
                    </li>
                </ul>
            </div>
        </li>
        <!--    图表操作部分    -->
        <li class="right">
            <div class="upperHalf">
                <ul>
                    <li class="box">
                        <!--查询one 电器-->
                        <h4>查询一个电器</h4>
                        <form action="/electric_application/one" method="get">
                            <span>序号: </span><input class="textBox" type="text" name="eno"><br/>
                            <input class="buttons" type="submit" value="查询">
                        </form>
                    </li>
                    <li class="line"></li>
                    <li class="box">
                        <!--插入一个电器-->
                        <h4>插入一个电器</h4>
                        <form action="/electric_application/insert" method="get">
                            <span>序号: </span><input class="textBox" type="text" name="eno"/><br/>
                            <span>学号: </span><input class="textBox" type="text" name="sno"/><br/>
                            <span>物品名: </span><input class="textBox" type="text" name="ename"/><br/>
                            <input class="buttons" type="submit" value="添加"/>
                        </form>
                    </li>
                </ul>
            </div>

            <div class="lowerHalf">
                <!--展示电器列表-->
                <h4>电器列表</h4>
                <table>
                    <tr>
                        <th>序号</th>
                        <th>学号</th>
                        <th>物品名</th>
                    </tr>
                    <tr th:each="electric_application:${electric_applications}">
                        <td th:text="${electric_application.eno}"></td>
                        <td th:text="${electric_application.sno}"></td>
                        <td th:text="${electric_application.ename}"></td>
                    </tr>
                </table>
            </div>
        </li>
    </ul>
</div>
</body>
</html>