<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>用户管理</title>
    <!--    租客缴费    -->
    <link href="../static/css/base.css" type="text/css" rel="stylesheet" />
    <link href="../static/css/mainBody.css" type="text/css" rel="stylesheet" />
</head>
<body>
<!--  头部  -->
<header>
    <!--    顶部      -->
    <div class="top">
        <a href="#"><img src="#" alt=""/></a>
    </div>
    <!--    顶部导航栏   -->
    <div class="navitems container">
        <ul>
            <li>
                <a href="main.html">主页</a>
            </li>
            <li class="space"></li>
            <li>
                <a href="zone.html">宿舍信息</a>
            </li>
            <li class="space"></li>
            <li>
                <a href="student.html">用户管理</a>
            </li>
            <li class="space"></li>
            <li>
                <a href="changeDorm.html">学生转宿</a>
            </li>
            <li class="space"></li>
            <li>
                <a href="studentPay.html">学生缴费</a>
            </li>
            <li class="space"></li>
            <li>
                <a href="rent.html">宿舍出租</a>
            </li>
            <li class="space"></li>
            <li>
                <a href="visitor.html">辅助管理</a>
            </li>
            <li class="space"></li>
            <li>
                <a href="login.html">登录</a>
            </li>
        </ul>
    </div>
</header>
<div class="main">
    <ul>
        <li class="slidebar">
            <div>
                <ul>
                    <li>
                        <a href="rent.html">出租信息 <span> > </span></a>
                    </li>
                    <li>
                        <a href="tenant.html">租客信息<span> > </span></a>
                    </li>
                    <li>
                        <a href="rentPay.html">租客缴费<span> > </span></a>
                    </li>
                </ul>
            </div>
        </li>
        <!--    图表操作部分    -->
        <li class="right">
            <div>
                租客缴费
            </div>
        </li>
    </ul>
</div>
</body>
</html>